/*.container {
    background: lightgrey;
}
.container-fluid {
    background: khaki;
}

[class^="col"] {
    background: pink;
    border:1px solid black
}*/
footer.container-fluid,
header.container-fluid {
    background: #343a40;
}
footer {
    color:#fff
}