/*külső stíluslap*/
body {
    background: #efefef;
    margin: 0;
    padding: 0;
    font-family: Arial, "Trebuchet MS", sans-serif;
}

a {
    text-decoration: none;
    color:deeppink;
}
.teszt {
    color : red !important;
    font-weight: 700;
}
#valami {
    color:orange !important;
}
